<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  </head>
  <style>
    img {
      width: 200px;
      height: 200px;
    }
    .result {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .result items {
        position: relative;
    }
    .result items p {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5% ;
      color: white;
      font-weight: bold;
      margin: 0 auto;
      text-align: center;
    }
  </style>
  <body>
    <div class="container" ng-app="myApp" ng-controller="myData">
      <form action="">
        <input class="checkage" type="radio" name="age" value="a" /> a
        <input class="checkage" type="radio" name="age" value="b" /> b
        <input class="checkage" type="radio" name="age" value="c" /> c
        <input class="checkage" type="radio" name="age" value="d" /> d <br />
        <input class="checkbmi" type="radio" name="bmi" value="1" /> 1
        <input class="checkbmi" type="radio" name="bmi" value="2" /> 2
        <input class="checkbmi" type="radio" name="bmi" value="3" /> 3
        <input class="checkbmi" type="radio" name="bmi" value="4" /> 4
        <input type="button" id="display" ng-click="loadJson()" value="Suggest">
      </form>
      <div id="json">
        <div class="result">
          <div class="items" ng-repeat="x in id">
            <img src="{{x.pic}}" alt="">
            <p>{{x.name}}</p>
            
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="json.js"></script>
  <script>
  </script>
</html>
