.about-us .introduction:not(#banner) {
    position: relative;
    margin: 25px 0;
}
.about-us .introduction img {
    width: 100%;
    z-index: 2;
    height: 700px;
}
.about-us .introduction .text {
    text-align: justify;
    position: absolute;
    font-size: 24px;
    color: black;
    top: 35%;
    width: 50%;
    font-size: 1.5vw;
    transform: translate(-50%, -50%);
}
.about-us .introduction .title {
    text-align: center;
}
.about-us .introduction .description {
    text-align: justify;
}
.about-us .introduction .button {
    text-align: center;
}
.about-us .introduction .btn-help {
    text-align: center;
    font-weight: bold;
    background-color: rgb(0, 217, 255);
}
.about-us .introduction:hover:not(#banner) {
    transform: scale(1.1);
    z-index: 1;
    transition: 1s;
}
.about-us .introduction .btn-help:hover {
    background-color: paleturquoise;
    animation-name: shake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% {transform: rotate(0)}
    20% {transform: rotate(20deg)}
    40% {transform: rotate(-20deg)}
    60% {transform: rotate(20deg)}
    80% {transform: rotate(-20deg)}
    100% {transform: rotate(0deg)}
}
@keyframes identifier {
    
}
.creator-thang{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
    text-align: center;
    color: rgb(0, 150, 150);
    text-shadow: 0 0 3px darkgrey;
  }
  .col-sm-2 p img:hover {
    width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div.container-thang3 {
    padding: 10%;
  }
  .col-sm-2{
    opacity: 0.5;
  }
  .col-sm-2:hover{
    background-color:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 1.0;
  }
  .padding-creator{
    padding: 10rem;
  }