.footer {
    background-color: black;
    height: 100%;
    width: auto;
    color: white;
    padding: 20px 0;
}
.footer .container {
    display: flex;
    justify-content: space-between;
}
.footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-items {
    width: 20%;
    text-align: center;
}
.footer-items .about-us {
    margin-top: 20px;
}
.footer .about-us a {
    display: block;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}
.footer a {
    position: relative;
}
.footer .vr {
    content: "";
    width: 0.5px;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.548);
    margin-bottom: 0.5rem;
}
.fab.fa-facebook-square, .fab.fa-instagram-square, .fab.fa-twitter-square, .fab.fa-pinterest-square {
    color: white;
    font-size: 25px;
}
.far.fa-clock, .fas.fa-map-marker-alt, .far.fa-envelope, .fas.fa-phone {
    color: white;
    font-size: 25px;
}
.footer a::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 0;
    bottom: -4px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: width .4s;
    background-color: white;
}
.footer a:hover {
    color: rgb(11, 192, 216);
}
.footer a:hover::after {
    width: 60%;
}
.fab.fa-facebook-square:hover, .fab.fa-instagram-square:hover, .fab.fa-twitter-square:hover, .fab.fa-pinterest-square:hover {
    color: rgb(11, 192, 216);
}