.footer {
    background-color: darkslategrey;
    padding: 2rem;
}

.tx1 p{
    color: white;
    font-size: 2rem;
    padding-top: 4rem;
}
.tx1 a i{
    color: white;
    font-size: 4rem;
}

.tx1 li a{
    color: white;
    font-size: 2rem;
}

.tx1 ul{
    color: white;
}

.copyright{
    text-align: center;
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
    margin-top: 2rem;
}