.news1 {
    border: solid;
    border-width: 0.1px;
    height: 100%;
    padding-bottom: 10%;
    
    background-image: url("../image/news1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.news2 {
    border: solid;
    border-width: 0.1px;
    height: 100%;
    width: 100%;
    background-image: url("../image/section1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#row-1 {
    padding-left: 2rem;
}

#row-2 {
    margin-top: 5%;
    margin-left: 13%;
}

#title-hello {
    padding-left: 5%;
    font-family: BebasNeue;
    font-size: 10rem;
}

#btn-press-here {
    height: 10rem;
    width: 30rem;
    border: solid;
    background-color: none;
    border: none;
    background-image: url("../image/home-btn-c4m-noclick.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; 

}
#btn-press-here:hover{
    background-image: url("../image/home-btn-c4m-click.png");
}

.section2{
    border: solid;
    border-width: 0.1px;
    height: 100%;
    padding-bottom: 15%;
    width: auto;
    background-image: url("../image/section2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#title-section-2 {
    padding-left: 15%;
    font-family: BebasNeue;
    color:white;
    font-size: 8rem;
}

#row-2-1{
    padding-left: 1rem;
}

#home-box-1{
    border: none;
    margin-left: 1rem;
    width: 100%;
    height: 100%;
    padding-top: 3%;
    border: solid;
    border-color: white;
    border-radius: 10%;
}
#title1{
    Text-align:center;
     color: white;

}
#mota{
    Text-align:center; 
    color: white;
}

#Guidelines{

    border: solid;
    width: 60%;
    height: 15%;
    border-radius: 15%;
    color: white;
    background-color: none;
    border-color: white;
    margin-bottom: 5%;
    /* padding-top: 2%; */
    margin-left: 20%;
}

#Guidelines-1{
    border: solid;
    width: 15%;
    height: auto;
    padding: 2% 0;
    border-radius: 30%;
    color: white;
    background-color: #29b30b;
    border-color: #29b30b;
    margin-top: 2%;
    font-size: 15pt;
    margin-left: 15%;
    
}
#Guidelines-1:hover{
    background-color: #3bed15;
    border-color: #3bed15;
}


#home-a-box-1:hover div{
    border-color:#3bed15;
    color: #3bed15;

}
#home-a-box-1:hover #title1{
    color: #3bed15;
    
}
#home-a-box-1:hover #mota{
    color: #3bed15;
}

#home-a-box-1:hover img{
    transform: scale(1.4);
}
#row-2-2{
    margin-top: 4rem;
}


/*Image Zoom*/
.image-box {
    position: relative;
    margin: auto;
    border: none;
    overflow: hidden;
    width: 90%;
    border-radius: 10%;
    
}
.image-box img {
    max-width: 100%;
    transition: all 0.6s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    
}

.image-box:hover img {
    transform: scale(1.4);
    
}

.section3 {
    border: solid;
    border-width: 0.1px;
    height: 100%;

    padding-bottom: 25%;
    width: auto;
    background-image: url("../image/section3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#row-3-1{
    margin-top: 15%;
    text-align: right;
    margin-right: 10%;

}
#title-section-3 {
    padding-left: 15%;
    font-family: BebasNeue;
    color:rgb(5, 189, 45);
    font-size: 8rem;
}

.section4 {
    border: solid;
    border-width: 0.1px;
    height: 100%;

    padding-bottom: 25%;
    width: auto;
    background-image: url("../image/section4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#title-section-4 {
    padding-left: 50%;
    font-family: BebasNeue;
    color:rgb(0, 0, 0);
    font-size: 8rem;
}
#row-4-1{
    margin-top: 2%;
    text-align: left;
    margin-left: 12%;

}
#Guidelines-2{
    border: solid;
    width: 15%;
    height: auto;
    padding: 2% 0;
    border-radius: 30%;
    color: white;
    background-color: #000000;
    border-color: #000000;
    margin-top: 2%;
    font-size: 15pt;
    margin-left: 15%;
    
}
#Guidelines-2:hover{
    background-color: #221f1f;
    border-color: #221f1f;
}   